
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600');
:root {
    --primary-font-family: 'Muli', sans-serif;
    --secondary-font-family: 'Cabin', sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font-family);
    font-size: 1.6rem;
}

main, footer {
    max-width: 95vw;
    margin: 0 auto;
}

@media (min-width: 1440px) {
    main, footer {
        max-width: 75vw;
    }
}

button, input[type="reset"] {
    padding: 1rem 1.6rem;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all 350ms ease-in-out;
    position: relative;
    outline: none;
}

button:disabled {
    color: rgba(188, 188, 188, 0.5);
    border-color: rgba(188, 188, 188, 0.5);
}

.result {
    color: #029480;
    font-size: 4rem;
    font-weight: 600;
}

.activity-type {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 824px) {
    .activity-type {
        justify-content: space-between;
    }
}

.activity-type li, .activity-type input, .activity-type label {
    cursor: pointer;
}

.activity-type li {
    margin: 0.3rem;
}

select {
    border: 1px solid;
}

input[name="typeBtn"] {
    margin-right: 5px;
}

input[type="reset"] {
    margin-top: 5rem;
}

footer {
    margin: 3rem auto 0;
    display: flex;
    justify-content: space-between;
}

footer small {
    margin: 0 1rem;
}
